<html>
  <head>
    <title>My Angular App!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">
    <style>body { padding-top:50px; }</style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="//code.angularjs.org/1.4.0/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="app.js"></script>
  </head>
  <body class="container" ng-app="MainApp" ng-controller="registration as reg">
    <form name="regForm" novalidate>
      <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" class="form-control" ng-model="reg.name" ng-minlength="3" required>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="reg.email" ng-minlength="5" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-submit">Submit</button>
      </div>
      <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
          <p ng-message="minlength">Your name is too short.</p>
          <p ng-message="required">Your name is required.</p>
      </div>
    </form>
  </body>
</html>
  